body{
    background-color: greenyellow;
}

#main{
    border: 5px black solid;
    padding: 5px 10px 5px 10px;
}

h1, h2{
    text-align: center;
    text-decoration: solid #ccaaaa underline;
    color: green;
}